@import "reset";

@bsa-logo-blue: #0e478b;
@bsa-logo-red: #cf192d;

@base-font-size: 1.0cm;

html>body {
    font-size: @base-font-size;
    min-width: 320px;

    @media only screen and (-webkit-min-device-pixel-ratio: 2) {
        min-width: 640px;
    }

    div.column {
        display: inline-block;
    }

    .page-header {
        text-align: center;

        &>div {
            font-family: "Goudy Old Style", "Goudy", Times, serif;
            line-height: 1.0;
            vertical-align: top;
            text-transform: uppercase;
            margin: 0.7em 0.1em;

            .bsa-reg {
                text-align: left;
                color: @bsa-logo-blue;
                //font-size: 1.0 * @base-font-size;

                sup {
                    vertical-align: super;
                    font-size: 0.5 * @base-font-size;
                }
            }

            .troop-id {
                text-align: left;
                color: @bsa-logo-red;
                font-size: 0.8 * @base-font-size;
            }
        }
    }

    img#fleur-de-lis {
        display: inline-block;

        max-width: 3em;
        padding-right: 10px;
        margin: 10px 10px 10px 3px;
        border-right: 3px solid @bsa-logo-blue;
    }

    .stacked {
        text-align: center;
        @media only screen and (min-width: 640px) {
            display: none;
        }
    }
    .spread {
        margin-top: 1em;
        text-align: left;
        @media only screen and (max-width: 639px) {
            display: none;
        }
    }

    .content {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 90%;
    }

    .page-footer {
        font-size: 0.5 * @base-font-size;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

